<h1>BEM-VINDO ao Jobs</h1>
<h2>O maior site de empregos da América Latina</h2>

<p><h3>Headhunter</h3></p>
<p><%= link_to 'Acesso ao painel de vagas', jobs_path %></p> 
<p><%= link_to 'Candidatos cadastrados', applies_path %></p>

<p><h3>Candidato</h3></p>  

<p><%= link_to 'Cadastrar perfil', applicant_profiles_path%></p>
