<h1>BEM-VINDO ao Jobs</h1>
<h2>O maior site de empregos da América Latina</h2>
    
<p><h3>Headhunter</h3></p>
<p><%= link_to 'Perfil', head_profiles_path%></p>

<p><h3>Candidato</h3></p>
<p><%= link_to 'Perfil', applicant_profiles_path%></p>

